.canciones {
    display: flex;
    flex-direction: column;
}
.cancionesText {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr 1fr 30px;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-radius: 4px;
    align-items: center;
    transition: .3s background;
    gap: 1rem;
}
.cancionesText:hover, .cancionesText:focus-within {
    background: rgba(255,255,255, .1);
}
.cancionesText-titulo >* {
    margin: 0;
    padding: 0;
}
.cancionesText-titulo {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cancionesText-tituloTitulo:hover {
    color: var(--white);
    cursor: pointer;
    text-decoration-line: underline;
}
.cancionesText-artista:hover {
    color: var(--white);
    cursor: pointer;
    text-decoration-line: underline;   
}
.cancionesText-album >*{
    font: var(--baseFont);
    margin: 0;
}
.cancionesText-fecha {
    display: flex;
    gap: 1.4rem;
}
.cancionesText-buttonPlay .icon-play {
    position: relative;
    inset-block-start: .9px;
    inset-inline-start: 1.7px;
}
.cancionesText-buttonPlay {
    border: 1px solid var(--white);
    padding: .4rem;
    background: none;
    border-radius: 50%;
    color: var(--white);
    font-size: 1rem;
}
.cancionesText-buttonPlay:hover {
    box-shadow: 0px 8px 8px rgba(0,0,0, 9);
    cursor: pointer;
}
.cancionesText-buttonHeart {
    border: none;
    padding: 0;
    background: 0;
    color: var(--white);
    font-size: 1.5rem;
}
.cancionesText-buttonHeart:hover {
    cursor: pointer;
}