.cancionColumn {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr 1fr 30px;
    margin-block-start: 1rem;
    padding-block-end: .5em;
    font: var(--basefontBold);
    color: var(--gray10);
    align-items: center;
    font-size: .8rem;
    padding-block-start: .5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    gap: 1rem;
}
.cancionColumn-title {
    padding-inline-start: 5.3875rem;
}
.cancionColumn h2 {
    margin: 0;
}
.cancionColumn-icon {
    display: flex;
    gap: 3.25rem;
}

