:root {
    --sidebarInlineSize: 15rem;
    --minBlockSize: 37.5rem;
    --minInlineSize: 48rem;
    --bottonSize: 5.5rem;
}
.layout {
    min-inline-size: var(--minInlineSize);
    display: grid;
    grid-template-columns: var(--sidebarInlineSize) 1fr;
    grid-template-rows: 1fr var(--bottonSize);
    grid-template-areas: "sidebar page" "footer footer";
    block-size: 100vh;
    max-width: 1955px;
}
.layout .sidebar {
    grid-area: sidebar;
}
.layout .page {
    grid-area: page;
}
.layout footer {
    grid-area: footer;

}