.playlistCanciones-header {
    display: flex;
    font: var(--baseFontBold);
    justify-content: space-between;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    color: var(--gray10);
    align-items: center;
    padding-block-start: 1rem;
    padding-block-end: .4rem;
}
.playlistCanciones-headerTitle {
    gap: 4rem;
    display: flex;
    padding-inline-end: 2rem;

}
.playlistCanciones-headerFecha {
    padding-inline-start: 1.5rem;
}
.playlistCanciones-headerAlbum {
    padding-inline-end: 5rem;
    padding-inline-start: 1.3rem;

}
.playlistCanciones-headerTime {
    display: flex;
    align-items: center;
    padding-inline-end: .2rem;

}
