.playlistList-container >*:hover, .playlistB-rock:focus-within {
    cursor: pointer;
}
.playlistList-container >* {
    inline-size: 24rem;
    block-size: 13.75rem;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}
.playlistList-container .playlistB-details {
    display: flex;
    padding: 1rem;
    gap: .5rem;
}
.playlistList-container .playlistB-details h3 {
    font: var(--headLine1);
    font-size: 2.4rem;
}
.playlistList-container .playlistB-cover img {
    transform: rotate(25deg);
    position: absolute;
    inset-block-end: -8px;
    inset-inline-end: -23px;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}
.playlistList-container .playlistB-title {
    color: var(--white);
    font: var(--baseFont);
    margin: 0;
}
.playlistB-latina {
    background-color: rgb(225, 17, 139);
}
.playlistB-rock {
    background-color: rgb(230, 30, 50);
}
.playlistB-pop {
    background-color: rgb(141, 103, 171);
}
.playlistB-colombiano {
    background-color: rgb(180, 155, 200);
}
.playlistB-salsa {
    background-color: rgb(225, 17, 139);
}
.playlistB-crossover {
    background-color: rgb(39, 133, 106);
}
