.playlistCanciones-header {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 4fr 3fr 30px;
    font: var(--baseFontBold);
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    color: var(--gray10);
    padding-block-start: 1rem;
    padding-block-end: .4rem;
}
.playlistCanciones-headerTitle {
    display: flex;
    gap: 6.5rem;    
}
