.premiumPlanes {
    background: #efefef;
    padding-block-end: 7rem;
}
.premiumPlanes-todos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.premiumPlanes-content {
    background: var(--white);
    max-inline-size: 15rem;
    border-radius: 8px;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 3rem;
    box-shadow: 0 0 10px black;
}
.premiumPlanes-header {
    padding-block-end: 3rem;
    padding-block-start: 3rem;
    text-align: center;
}
.premiumPlanes-header h2 {
    font: var(--headLine1);
    font-size: 2.2rem;
}
.premiumPlanes-header p {
    font: var(--baseFontBold);
    font-size: 1rem;
}
.premiumPlanes-pagos .dos-mas {
    text-decoration: underline;
}
.premiumPlanes-button button {
    inline-size: 100%;
    block-size: 2.8rem;
    border-radius: 90px;
    align-items: center;
    font: var(--baseFont);
    color: var(--white);
    background: var(--gray50);
    border: none;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
.premiumPlanes-button button:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.premiumPlanes1 {
    block-size: 11rem;
}
.premiumPlanes1 .premio1 {
    display: inline-block;
    margin: 0;
    background: rgb(46, 119, 208);
    color: var(--white);
    font: var(--baseFont);
    border-radius: 4px;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
    padding-block-start: .1rem;
    padding-block-end: .1rem;
    margin-block-end: .6rem;
}
.premiumPlanes1 .premio2 {
    display: inline-block;
    margin: 0;
    border: 1px solid rgb(46, 119, 208);
    background: var(--white);
    color: rgb(46, 119, 208);
    font: var(--baseFont);
    border-radius: 4px;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
    padding-block-start: .1rem;
    padding-block-end: .1rem;
}
.premiumPlanes1 h3 {
    font: var(--baseFont);
    font-size: 1.6rem;
    margin: 0;
    padding-block-start: 1rem;
    padding-block-end: .5rem;
}
.premiumPlanes1 .oferta >* {
    margin: 0;
    padding: 0;
    font: var(--baseFontBold);
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
}
.oferta .oferta-p {
    font-size: 1rem;
}
.oferta .una-cuenta {
    font-size: 1rem;
}
hr {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
.premiumPlanes1-plus >* {
    margin: 0;
    padding: 0;
}
.premiumPlanes1-plus {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    block-size: 13rem;
    padding-block-start: .5rem;
}
.premiumPlanes1-plus .visto {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.premiumPlanes-footer {
    font: var(--small);
    font-size: .7rem;
    color: var(--gray30);
}
.premiumPlanes-footerDecoration {
    text-decoration: underline;
    cursor: pointer;
}
.premiumPlanes1-plus p {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .premiumPlanes {
        text-align: center;
    }
    .premiumPlanes-todos {
        display: flex;
        flex-direction: column;
    }
    .premiumPlanes-content {
        max-inline-size: 20rem;
        margin: auto;
    }
    
}